<app-navbar></app-navbar>
<div style="color:rgb(4, 4,76);background-color: rgb(255, 245, 233); ">
  <div style="background-color:rgb(130, 25, 65); ">
  <hr /><h1 align="center" style="color:rgb(245, 245, 249) ">KUDUMBASREE LOAN DETAILS</h1><hr />
  </div >
  <div align="right"><h2 class="btn btn-danger" style="background-color:rgb(130, 25, 65);" routerLink="/manloan" routerLinkActive="active-link"><b>Apply Now</b></h2></div>
   <p>&nbsp;&nbsp;</p>
  <div class="container">
      <div class="row g-5">
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" align="center" style="width: 35rem;">
                <div align="center">
                  <img src="assets/personal.png" style="height:100px;width: 100px;">
                </div>
                  <div class="card-body">
                    <h3 class="card-text">Personal Loan</h3>
                    <p>A personal loan allows you to borrow money to pay for personal expenses and then repay those funds over time. </p>
                    <a href="#" class="btn btn-danger">More Details</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" align="center" style="width:35rem;">
                  <img style="height:100px;width:100px;margin-left:120px;"src="assets/bulky.png" class="card-img-top">
                  <div class="card-body">
                    <h3 class="card-text">Bulky Loan</h3>
                    <p>Loans allow for growth in the overall money supply in an economy and open up competition by lending to new businesses.</p>
                    <a href="#" class="btn btn-danger">More Details</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" align="center" style="width: 35rem;">
                  <img style="height:100px;width:100px;margin-left:120px;" src="assets/linkage.png" class="card-img-top">
                  <div class="card-body">
                    <h3 class="card-text">Linkage Loan</h3>
                    <p>The size of the loan depends upon Savings, Sincerity of members, Accounts keeping of the group,Loan disbursasl from the group.</p>
                    <a href="#" class="btn btn-danger">More Details</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" align="center" style="width: 35rem;">
                  <img style="height:100px;width:100px;margin-left:120px;" src="assets/mudras.png" class="card-img-top">
                  <div class="card-body">
                    <h3 class="card-text">Mudra Loan</h3>
                    <p>Mudra loans can only be availed by individuals, MSMEs, enterprises, or businesses engaged in Manufacturing, Trading, and Services Sectors, only.</p>
                    <a href="#" class="btn btn-danger">More Details</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" align="center" style="width: 35rem;">
                  <img style="height:100px;width:100px;margin-left:120px;" src="assets/kissan.webp" class="card-img-top">
                  <div class="card-body">
                    <h3 class="card-text">JLK Kisan Loan</h3>
                    <p>The Kisan Credit Card scheme is a Government of India scheme which provides farmers with timely access to credit.</p>
                    <a href="#" class="btn btn-danger">More Details</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
              <div class="card" align="center" style="width:35rem">
                  <img style="height:100px;width:100px;margin-left:120px;" src="assets/corona.png" class="card-img-top">
                  <div class="card-body">
                    <h3 class="card-text">Corona Loan</h3>
                    <p>A COVID Loan can also aid in covering any medical expenses incurred during the pandemic. In essence, a COVID- 19 Loan can serve you as a Medical Loan and help out with medical bills and emergencies.</p>
                    <a href="#" class="btn btn-danger">More Details</a>
                  </div>
                </div>
          </div>
          <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
            <div class="card" align="center" style="width: 35rem;">
                <img style="height:100px;width:100px;margin-left:120px;" src="assets/business.png" class="card-img-top">
                <div class="card-body">
                  <h3 class="card-text">Business Loan</h3>
                  <p>A business loan is a loan specifically intended for business purposes.[1] As with all loans, it involves the creation of a debt, which will be repaid with added interest.</p>
                  <a href="#" class="btn btn-danger">More Details</a>
                </div>
              </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
          <div class="card" align="center" style="width: 35rem;">
              <img src="" class="card-img-top">
              <div class="card-body">
                <h3 class="card-text"></h3>
                <p></p>
                <a href="#" class="btn btn-danger">More Details</a>
              </div>
            </div>
      </div>
      </div>
  </div>
  </div>