<form style="background-color: rgb(223, 212, 198);">
    <div  class="container">
      <h1 align="center" style="font-family: 'Times New Roman', Times, serif;color:rgb(16, 74, 74)"><b><u>Add User</u></b></h1>
      <hr >
     <div style="color:rgb(16, 74, 74)">
      <label for="text"><b>NAME</b></label>
      <input type="text" placeholder="Name" required>
  
      <label for="text"><b>ADDRESS</b></label>
      <input type="text" placeholder="Address" required>
  
      <label for="text"><b>PHONE NO</b></label>
      <input type="text" placeholder="Phone number"required>

      <label for="email"><b>EMAIL</b></label>
      <input type="text" placeholder="Enter Email" required>

      <label for="email"><b>USERNAME</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>

      <label for="PASSWORD"><b>PASSWORD</b></label>
      <input type="password" placeholder="Enter password"  required>
    </div>
      <hr>     
      <button type="submit" class="registerbtn">Add</button>
    </div>
  </form>

