

  <div style="display:flex;flex-direction:row;height:100%;width:100%">
    <img style="width:50%;margin-left:50px;margin-top:50px;" src="assets/image1.webp" />
    <div style="font-family:'Times New Roman', Times, serif;color:rgb(9, 9, 131);width:40%;box-shadow:5px 0px 45px rgba(0, 0, 0, 0.24);border: 1px solid rgb(118, 110, 110);
    height:60%;margin-top:100px;border-radius:10px;;" class="container">
    <table cellpadding="15">
        <tr>
            <td> <b>APPLICANT NAME</b>  </td>
            <td><input type="text" placeholder="Applicant Name"/></td>
        </tr>
        <tr>
            <td><b>ANNUAL INCOME</b></td>
            <td><input type="text" placeholder="Annual Income"/></td>
            </tr>
            <tr>
                <td><b>AADHAR NO</b></td>
                <td><input type="text" placeholder="Aadhar Number"/></td>
            </tr>
            <tr>
                <td> <b>PAN NO</b>  </td>
                <td><input type="text" placeholder="Pancard Number"/></td>
            </tr>
            <tr>
                <td><b>ACCOUNT NO</b></td>
                <td><input type="text" placeholder="Account Number"/></td>
            </tr>
        <tr>
            <td><b>IFSC CODE</b></td>
            <td><input type="text" placeholder="Ifsc Code"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox"/>I hearby declare that all the above given data's are valid.
                </td>
            </tr>
        <tr>
            <td></td>
            <td><input style="background-color:rgb(9, 9, 131);color:white" type="submit" value="Apply"/></td>
            </tr>
    </table>
    </div>        
    </div>
    
  