<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
        <h1 align="center">
          <small class="text-muted"><b>APPLY LOAN ONLINE</b></small>
        </h1>
      &nbsp;
      
        <table class="table table-bordered border-primary">
          <thead>
            <tr align="center">
              
              <th scope="col"><b>LoanID</b></th>
              <th scope="col"><b>Scheme</b></th>
              <th scope="col"><b>LoanPlan</b></th>
              <th scope="col"><b>Interest</b></th>
              <th scope="col"><b>Amount</b></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of data">
              <td>
                <div>
                  <input type="text" name="loanid" class="form-control" [(ngModel)]="i.loanid">
                </div>
                <div >
                  {{i.loanid}}
                </div>
              </td>
              

              <td>
                <div>
                  <input type="text" name="loaname" class="form-control" [(ngModel)]="i.loanName">
                </div>
                <div >
                  {{i.loanName}}
                </div>
              </td>
              
              <td>
                <div>
                  <input type="text" name="loanplan" class="form-control" [(ngModel)]="i.loanPlan">
                </div>
                <div >
                  {{i.loanPlan}}
                </div>
              </td>
              
              <td>
                <div>
                  <input type="text" name="amount" class="form-control" [(ngModel)]="i.amount">
                </div>
                <div >
                  {{i.amount}}
                </div>
              </td>
              <td>
                <div>
                  <input type="text" name="interest" class="form-control" [(ngModel)]="i.interest">
                </div>
                <div >
                  {{i.interest}}
                </div>
              </td>

              <td align="center">
                <div>
                 <tr> <td><button class="btn btn-primary" routerLink="/request"  routerLinkActive="active-link" ><b>APPLY</b></button></td></tr>
                </div>
              </td>
              
        </table>
      </div>
    </div>
  </div>
</div>